@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/af37a17ad53d1410778d941a0951508b?family=Arial+Rounded+MT+Std');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .tab-content {
        @apply p-2 rounded-lg w-1/4 hover:bg-blue-600 hover:text-white transition-all duration-500 ease-in-out focus:outline-0 flex flex-col items-center
    }
    .tab-content-selected{
        @apply p-2 rounded-lg text-white w-1/4 bg-blue-600 font-bold focus:outline-0 flex flex-col items-center
    }
    .input{
        @apply border-2 rounded-lg text-xl p-1.5 focus:outline-0  bg-white dark:bg-dark
    }
}

body {
    @apply transition-colors duration-500;
}

.fill-animation {
    animation: fillFromLeft 0.3s ease-in-out forwards;
}

/* styles/globals.css */
@keyframes fillFromLeft {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        @apply bg-primary-light;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
    @apply bg-primary-dark;
}
}




